@import '../util';

.footer{
    width: 100%;
    // height:50vh;
    // margin-top: 10vh;
    background-color: colors('lightHover');
    bottom:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    h3{
        font-weight: 300;
        font-size: .9em;
        color:colors(secText);
    }

    h2{
        font-weight: 500;
        margin-top: .5em;
        font-size: 1em;
        margin-bottom: 1em;
        color:colors(primText)
    }
}

.logo{
    color:colors('logo');
    font-family:$primaryFont;
    font-weight: 600;
    letter-spacing:1px;
    font-size: 4em;
    span{
        color:var(--actionClr2)
    }
    cursor: pointer;
    margin-bottom: .8em;
}